<ion-header>

  <ion-segment [(ngModel)]="clima">
    <ion-segment-button value="Hoje">
      Hoje
    </ion-segment-button>
    <ion-segment-button value="Previsão">
      Previsão
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!--Lista de seletores para escolha do estado e cidade-->
  <ion-list>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="state" (ngModelChange)="loadCities(state)" interface="action-sheet">
        <ion-option *ngFor="let state of states" [value]="state">{{state}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-select [(ngModel)]="city" (ngModelChange)="loadWeather(city.id)" interface="action-sheet">
        <ion-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <!--Div com conteúdo de cada Tabs clima. Fica abaixo dos seletores.-->
  <div [ngSwitch]="clima" *ngIf="city && forecast">
    <!--Início da seção Hoje-->
    <ion-list *ngSwitchCase="'Hoje'">
      <ion-card>
        <ion-card-header text-wrap>
          <h2>Previsão de {{city.name}}, {{city.state}} para o dia {{forecast[0].date_br}} é de
            {{forecast[0].text_icon.text.pt}}.</h2>
        </ion-card-header>
        <ion-item>
          <ion-icon color="primary" large item-start name='thermometer'></ion-icon>
          <p>Temperaturas</p>
          <h2>Máxima: {{forecast[0].temperature.max}} °C</h2>
          <h2>Mínima: {{forecast[0].temperature.min}} °C</h2>
        </ion-item>

        <ion-item>
          <ion-icon color="primary" large item-start name='rainy'></ion-icon>
          <p>Chuva</p>
          <h2>Probabilidade: {{forecast[0].rain.probability}} %</h2>
          <h2>Precipitação: {{forecast[0].rain.precipitation}} mm</h2>
        </ion-item>

        <ion-item>
          <ion-icon color="primary" large item-start name='navigate'></ion-icon>
          <p>Vento</p>
          <h2>Velocidade Máxima: {{forecast[0].wind.velocity_max}} km/h</h2>
          <h2>Velocidade Mínima: {{forecast[0].wind.velocity_min}} km/h</h2>
          <h2>Direção: {{forecast[0].wind.direction}}</h2>
        </ion-item>
      </ion-card>
    </ion-list>
    <!--Fim da seção Hoje-->

    <!--Início da seção Previsão-->
    <ion-list *ngSwitchCase="'Previsão'">
      <ion-card *ngFor="let fore of forecast">
        <ion-card-header text-wrap>
          <h2>Dia {{fore.date_br}} haverá {{fore.text_icon.text.pt}}</h2>
        </ion-card-header>
        <ion-item>
          <ion-icon color="primary" large item-start name='thermometer'></ion-icon>
          <p>Temperaturas</p>
          <h2>Máxima: {{fore.temperature.max}} °C</h2>
          <h2>Mínima: {{fore.temperature.min}} °C</h2>
        </ion-item>

        <ion-item>
          <ion-icon color="primary" large item-start name='rainy'></ion-icon>
          <p>Chuva</p>
          <h2>Probabilidade: {{fore.rain.probability}} %</h2>
          <h2>Precipitação: {{fore.rain.precipitation}} mm</h2>
        </ion-item>

        <ion-item>
          <ion-icon color="primary" large item-start name='navigate'></ion-icon>
          <p>Vento</p>
          <h2>Velocidade Máxima: {{fore.wind.velocity_max}} km/h</h2>
          <h2>Velocidade Mínima: {{fore.wind.velocity_min}} km/h</h2>
          <h2>Direção: {{fore.wind.direction}}</h2>
        </ion-item>
      </ion-card>
      <!--Fim da seção previsão-->
    </ion-list>
  </div>
</ion-content>