<!--
<ion-tabs>
  <ion-tab [root]="tab4Root" tabTitle="GitHub" tabIcon="logo-github"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Filmes" tabIcon="play"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Clima" tabIcon="partly-sunny"></ion-tab>
</ion-tabs>
-->

<!--
<super-tabs tabsPlacement='bottom' (tabSelect)="onTabSelection($event)">
  <super-tab [root]="tab4Root" tabTitle="GitHub" tabIcon="logo-github"></super-tab>
  <super-tab [root]="tab2Root" tabTitle="Filmes" tabIcon="play"></super-tab>
  <super-tab [root]="tab3Root" tabTitle="Clima" tabIcon="partly-sunny"></super-tab>
</super-tabs>

-->

<super-tabs class="tabs" tabsPlacement='bottom' (tabSelect)="onTabSelection($event)" >
  <super-tab class="tab" *ngFor="let t of tabs" [root]="t.root" [title]="t.title" [icon]="t.icon"></super-tab>
</super-tabs>