<ion-header>
  <ion-toolbar color="light" class="toolbar">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="title">GitHub</ion-title>

    <ion-buttons end>
      <button end ion-button icon-only color="dark">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment class="segment" no-border color="dark" [(ngModel)]="section">
    <ion-segment-button value="visao">
      Visão Geral
    </ion-segment-button>
    <ion-segment-button value="repos">
      Repositórios
    </ion-segment-button>
    <ion-segment-button value="stars">
      Estrelas
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content [ngSwitch]="section" *ngIf="userData">
  <ion-list *ngSwitchCase="'visao'">
    <ion-item>visao</ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'repos'">
    <ion-item>repos</ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'stars'">
    <ion-item>stars</ion-item>
  </ion-list>
</ion-content>