<ion-header>
  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card *ngIf="film">
        <ion-item>
          <h2>{{film.title}}</h2>
          <p>Lançamento: {{film.release_date}}</p>
        </ion-item>
  
        <img [src]="'https://image.tmdb.org/t/p/w500' + film.backdrop_path" />
  
        <ion-card-content>
          <p>{{film.overview}}</p>
        </ion-card-content>
      </ion-card>
</ion-content>
