<ion-header no-border>
  <ion-searchbar placeholder="Pesquise um usuário" animated=true debounce=500 type="search" [showCancelButton]=true
    (ionInput)="getItems($event)">
  </ion-searchbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="userDetail(item.login)">
      <ion-thumbnail item-start class="thumb-img">
        <img src={{item.avatar_url}}>
      </ion-thumbnail>
      <h2>{{ item.login }}</h2>
    </ion-item>

  </ion-list>
</ion-content>