page-git {
    ion-list {
        padding: 10px;
    }

    ion-thumbnail {        
        max-width: 50px !important;
        max-height: 50px !important;

        width: 7vh !important;
        height: 7vh !important;
    }
    img {
        border-radius: 10px;
        
    }
}
