@import url('https://fonts.googleapis.com/css?family=Ubuntu'); //TODO: salvar fonte localmente

//ESTILOS APLICADOS A MAIS DE UM SLIDE
.intro-slide img { //Aplicadas em todas as imagens dos sliders
    width: 190px;
}
.intro-slide h2 {
    padding: 5%;
    font-family: 'Ubuntu', sans-serif;
    //font-weight: bold;
}
.slide-movie, .slide-clima h2 {
    color: #FFFFFF;
}

//ESTILOS APLICADOS A SLIDES ESPECÍFICOS
.slide-movie {
    background-color: #081C24;
}

.slide-clima {
    background-color: #0181CC;
}

.slide-github {
    background-color: #FFFFFF;
}

