<ion-content>
    <ion-slides pager class="intro-slide">
        <ion-slide class="slide-movie">
          <img src="../assets/imgs/tmdb.svg" alt="The Movie Data Base" />
          <h2>Todas as informações sobre filmes e seriados</h2>
        </ion-slide>
      
        <ion-slide class="slide-clima">
          <img src="../assets/imgs/clima.png" alt="ClimaTempo" />
          <h2>As previsões mais precisas do Brasil</h2>
        </ion-slide>
      
        <ion-slide class="slide-github">
          <img src="../assets/imgs/github.png" alt="GitHub" />
          <h2>Consulte códigos hospedados no GitHub</h2>
          <button ion-button color="dark" (click)="goToTabsPage()">Entendi</button>
        </ion-slide>
      </ion-slides>
</ion-content>
