<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list text-wrap>
    <ion-item *ngFor="let film of movieList">
      <ion-thumbnail item-start>
        <img [src]="'https://image.tmdb.org/t/p/w200' + film.poster_path" />
      </ion-thumbnail>
      <h2>{{film.title}}</h2>
      <p>{{film.release_date}}</p>
      <p>Nota: {{film.vote_average}}</p>
      <button ion-button clear (click)="openDetails(film)">Detalhes</button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>